body{
  background-color: rgb(0, 0,0);
}

.navbar-custom {
  background-color: rgb(0, 0, 0);
}

*{
  font-family: 'Times New Roman', Times, serif;
}

.bookBtn{
  color: white;
  border: 1px solid whitesmoke;
}

.bookBtn:hover{
  color: black;
  background-color: white;
  border: 1px solid black;
}

.bookBtn:active{
  background: white;
  color: black;
}